<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>javaScriptStudy</title>

</head>

<body>

    <div class="card-group container">
        <div class="card">
            <img src="https://via.placeholder.com/600">
            <div class="card-body">
                <h5>Card title</h5>
                <p>가격 : 70000</p>
                <button class="btn btn-danger">주문하기</button>
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/600">
            <div class="card-body">
                <h5>Card title</h5>
                <p>가격 : 70000</p>
                <button class="btn btn-danger">주문하기</button>
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/600">
            <div class="card-body">
                <h5>Card title</h5>
                <p>가격 : 70000</p>
                <button class="btn btn-danger">주문하기</button>
            </div>
        </div>
    </div>

    <form class="container my-5 form-group">
        <p>상품선택</p>
        <select class="form-select mt-2 aaa">
            <option>모자</option>
            <option>셔츠</option>
            <option>바지</option>
        </select>
    </form>
    <div class="size-box">
        <p>사이즈선택</p>
        <select class="form-select mt-2">
            <option>95</option>
            <option>100</option>
            <option>105</option>
        </select>
    </div>

    <!-- 부트스트랩, 제이쿼리 라이브러리 -->

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script>

        var products = [
            { id: 0, price: 70000, title: 'Blossom Dress' },
            { id: 1, price: 50000, title: 'Springfield Shirt' },
            { id: 2, price: 60000, title: 'Black Monastery' }
        ];

        for (i = 0; i < 3; i++) {
            document.querySelectorAll('.card-body h5')[i].innerHTML = products[i].title;
            document.querySelectorAll('.card-body p')[i].innerHTML = '가격 : ' + products[i].price;
        };

        var pants = [28, 30, 32, 34];

        $('.aaa').on('input', function (e) {
            var selectValue = e.currentTarget.value;
            if (selectValue == '셔츠') {
                $('.size-box').removeClass('d-none');
            } else if (selectValue == '바지') {
                $('.form-select').eq(1).html('');
                for (i = 0; i < pants.length; i++) {
                    var aa = `<option>${pants[i]}</option>`
                    $('.form-select').eq(1).append(aa);
                }
                console.log(pants);

            }
            else {
                $('.size-box').addClass('d-none');
            }
        })

    </script>
</body>

</html>