<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Javascript연습</title>
    <link rel="stylesheet" href="../static/root.css">
</head>

<body>
    <div class="alert-box" id="alert-box">
        <p id="box">ID를 입력하세요</p>
        <button onclick="Alert('none')">닫기</button>
    </div>

    <button onclick="Alert('id를 입력하세요' ,);">버튼1</button>
    <button onclick="Alert('pw를 입력하세요');">버튼2</button>


    <script>
        function Alert(a) {
            document.getElementById('alert-box').style.display = 'block';
            document.getElementById('box').innerHTML = a;
        }

    </script>
</body>

</html>